$color-primary: #6e3cbc;
$color-secondary: #5b2ea2;
$color-lightgray: #e8e2e2;
$color-lightbg: #e5e1e1;
$color-light: #f5f5f5;
$color-darkgray: #202020;
$color-darkbg: #333333;
$color-dark: #0e0e0e;
$color-danger: #e91f00;
$color-warning: #ffbb52;
$color-success: #54b435;
